.text_colour_add {
	color: $colour_add!important;
}
.text_colour_warning {
	color: $colour_warning!important;
}
.text_colour_cancel {
	color: $colour_cancel!important;
}
.text_colour_okay {
	color: $colour_okay!important;
}
